<div class="ui inverted segment" style="border-radius: 0;">
  <a href="/">
    <h1 class="ui inverted header">
      <i class="red heartbeat outline icon"></i>
      <div class="content">
        Miss.d
        <div class="sub header">Notifications for when events <i>don't</i> happen</div>
      </div>
    </h1>
  </a>
</div>
