<div class="ui large menu">
  <a class="item" href="/">
    <i class="home icon"></i>
    Home
  </a>
  <% if (user) { %>
    <a class="item" ng-click="eventTable()">
      <i class="table icon"></i>
      Events
    </a>
    <a class="item" ng-click="help()">
      <i class="question icon"></i>
      Help
    </a>
  <% } %>
  <div class="right menu">
    <% if (user) { %>
      <div class="item">
        <i class="user icon"></i>
        <%= user.name %>
      </div>
    <% } else { %>
      <a class="item" href="/auths/github">
        <i class="user icon"></i>
        Log In
      </a>
    <% } %>
    <a class="ui item" href="<%= sails.config.globals.versionLink %>" target="_blank">
      Miss.d v<%= sails.config.globals.version %>
    </a>
    <% if (user) { %>
      <a onclick="logout()" href="#" class="item">
        Logout
      </a>
    <% } %>
  </div>
</div>
