<%- partial('../partials/header.ejs') %>

<div class="content">
  <%- partial('../partials/menu.ejs') %>

  <div class="ui segment">
    <h1 class="ui header">Miss.d</h1>
    <div class="ui cards">
      <div class="card" ng-repeat="job in jobs track by job.id">
        <a ng-if="!job.expired" class="ui green right corner label">
          <i class="check icon"></i>
        </a>
        <a ng-if="job.expired" class="ui red right corner label">
          <i class="alarm icon"></i>
        </a>
        <div class="content">
          <div class="header">
            {{job.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.js"></script>
<script src="/js/app.js"></script>
