<%- partial('../partials/header.ejs') %>

<div class="content">
  <%- partial('../partials/menu.ejs') %>

  <div class="ui segment">
    <div ng-view></div>
  </div>
</div>

<script>
  var serverUrl = '<%= sails.config.serverUrl %>';
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-clipboard/1.5.0/angular-clipboard.min.js"></script>
<script src="//code.angularjs.org/snapshot/angular-route.min.js"></script>
<script src="/js/app.js"></script>
