<%- partial('../partials/header.ejs') %>

<div class="content">
  <%- partial('../partials/menu.ejs') %>

  <div class="ui segment">
    <h2 class="ui icon header" style="display: block; margin: 0 auto;">
      <i class="red heartbeat icon"></i>
      <div class="content">
        Miss.d
        <div class="sub header">Notifications for when events <i>don't</i> happen</div>
      </div>
    </h2>
    <div style="text-align: center; margin-top: 1em;">
      <a href="/auths/github" class="ui black large labeled icon button">
        <i class="github icon"></i>
        Login
      </a>
    </div>
  </div>
</div>
<script>
  if (localStorage.login === 'true') {
    window.location.href = '/auths/github';
  }
</script>
