<%- partial('../partials/header.ejs') %>

<div class="content">
  <%- partial('../partials/menu.ejs') %>

  <div class="ui segment">
    <h2 class="ui icon header" style="display: block; margin: 0 auto;">
      <i class="heartbeat icon"></i>
      <div class="content">
        Miss.d
        <div class="sub header">Notifications for when events <i>don't</i> happen</div>
      </div>
    </h2>
  </div>
</div>
