<h1 class="ui dividing header">
  Miss.d Jobs
  <div class="ui green bottom button" style="float: right;" ng-click="new()">
    <i class="add icon"></i>
    Add Job
  </div>
</h1>
<div id="chart" ng-show="{{ jobAlarms().length !== 0 }}"></div>
<div ng-if="jobs.length != 0" class="ui four doubling cards">
  <div class="card" ng-repeat="job in jobs | orderBy: 'name' track by job.id">
    <div ng-if="!job.expired" class="ui green right corner label">
      <i class="check icon"></i>
    </div>
    <div ng-if="job.expired" class="ui red right corner label">
      <i class="alarm icon"></i>
    </div>
    <div class="content">
      <div class="header">
        {{job.name}}
      </div>
      <div class="meta">
        <i class="mail icon"></i>
        {{job.notifications.length || 0}} Notification{{job.notifications.length == 1 ? '' : 's'}}
      </div>
      <h4 class="ui sub header">
        API Key
        <i class="popup link copy icon" clipboard supported="supported" text="ingestUrl(job.key)" data-content="Copied" data-variation="inverted"></i>
      </h4>
      <div class="small-font">{{job.key}}</div>
    </div>
    <div class="extra content">
      <span class="right floated" data-tooltip="Last Active" data-inverted="">
        <i class="history icon"></i>
        <span ng-if="job.lastActive" am-time-ago="{{getTime(job.lastActive)}}" class="date"></span>
        <span ng-if="!job.lastActive">Never</span>
      </span>
      <span data-tooltip="Expiration Time" data-inverted="">
        <i class="hourglass start icon"></i>
        {{formatDuration(job.timeout * 1000)}}
      </span>
    </div>
    <div class="extra content">
      <h4 class="ui header">Last 7 Days</h4>
      <span class="right floated">
        <i class="check icon"></i>
        {{jobClears(job).length}} Clear{{jobClears(job).length == 1 ? '' : 's'}}
      </span>
      <span>
        <i class="alarm icon"></i>
        {{jobAlarms(job).length}} Alarm{{jobAlarms(job).length == 1 ? '' : 's'}}
      </span>
    </div>
    <div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic blue button" ng-click="edit(job)">Edit</div>
          <div class="ui basic red button" ng-click="delete(job)">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 ng-if="jobs.length == 0" class="ui icon header" style="display: block; margin: 0 auto;">
  <i class="alarm outline icon"></i>
  <div class="content">
    No Jobs
    <div class="sub header">Looks like you have no jobs, <a class="link" ng-click="new()">create one</a> or check out the <a class="link" ng-click="help()">help page</a></div>
  </div>
</h2>
