<h1 ng-if="new" class="ui dividing header">New Job</h1>
<h1 ng-if="!new" class="ui dividing header">Edit Job</h1>
<h3 ng-if="!new" class="ui header">
  API Key: {{job.key}}
  <i class="popup link copy icon" clipboard supported="supported" text="ingestUrl(job.key)"  data-content="Copied" data-variation="inverted"></i>
</h3>
<div ng-if="error" class="ui negative message">
  <div class="header">
    Error Saving
  </div>
  <p>
    {{error}}
  </p>
</div>
<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Name</label>
      <input type="text" ng-model="job.name" ng-change="changeJob(job)">
    </div>
    <div class="field">
      <label>Timeout (Seconds)</label>
      <input type="number" min="10" ng-model="job.timeout" ng-change="changeJob(job)">
    </div>
    <div class="field">
      <label>&nbsp</label>
      <button ng-if="new" class="ui green button" ng-click="save()">Create</button>
      <button ng-if="!new" class="ui blue button" ng-disabled="!job.dirty" ng-click="save()">Save</button>
    </div>
  </div>
</div>
<h2 ng-if="!new" class="ui dividing header">Notifications</h2>
<table ng-if="!new" class="ui celled striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="notification in job.notifications track by notification.id">
      <td>
        <div class="ui input">
          <input type="text" ng-model="notification.name" ng-change="changeNotification(notification)">
        </div>
      </td>
      <td>
        <div class="ui selection dropdown">
          <input type="hidden" value="{{notification.exportType}}">
          <i class="dropdown icon"></i>
          <div class="default text">Notification Type</div>
          <div class="menu">
            <div class="item" ng-click="updateType(notification, 'slack')">Slack</div>
            <div class="item" ng-click="updateType(notification, 'email')">Email</div>
          </div>
        </div>
      </td>
      <td>
        <div ng-if="notification.exportType == 'slack'" class="ui input">
          <input type="text" ng-model="notification.data.slackUrl" ng-change="changeNotification(notification)" placeholder="Slack Webhook">
        </div>
        <div ng-if="notification.exportType == 'email'" class="ui input">
          <input type="text" ng-model="notification.data.email" ng-change="changeNotification(notification)" placeholder="Email Address">
        </div>
      </td>
      <td>
        <div ng-if="!notification.id" class="ui green button" ng-click="saveNotification(notification)">Create</div>
        <button ng-if="notification.id" class="ui blue button" ng-disabled="!notification.dirty" ng-click="saveNotification(notification)">Update</button>
        <div class="ui red button" ng-click="delete(notification)">Delete</div>
      </td>
    </tr>
  </tbody>
</table>
<div ng-if="!new && !notificationInProgress()" class="ui blue labeled icon button" ng-click="newNotification()">
  <i class="plus icon"></i>
  New Notification
</div>
